@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');


*,
*:before,
*:after {
  box-sizing: border-box;
}

.menu-start{
    margin-top: -25px;
}
label {
    .menu {
        
      position: absolute;
      right: 0px;
      top: -50px;
      z-index: 50;
      width: 100px;
      height: 100px;
      background: transparent;
    //   border-radius: 50% 50% 50% 50%;
      transition: .5s ease-in-out;
    //   background-color:rgba(0,0,0,.8);
      box-shadow: 0 0 0 0 rgba(0,0,0,.8), 0 0 0 0 rgba(0,0,0,.8);
      cursor: pointer;
    }
    .hamburger {
      position: absolute;
      top: 80px;
      left: 35px;
      width: 30px;
      height: 2px;
      background: #000;
      display: block;
      transform-origin: center;
      transition: .5s ease-in-out;
      &:after,
      &:before {
        transition: .5s ease-in-out;
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background: #000;
      }
      &:before {
        top: -10px;
      } 
      &:after {
        bottom: -10px;
      }
    }
    input {
      display: none;
    }
    input:checked + .menu {
      box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh rgba(0,0,0,.8);
     
      border-radius: 0;
      .hamburger {
        transform: rotate(45deg);
        &:after {
          transform: rotate(90deg);
          bottom: 0;
        }
        &:before {
          transform: rotate(90deg);
          top: 0;
        }
      }
    }
    
    input:checked + .menu + ul {
      opacity: 1;
    }
    
    ul {
      z-index: 200;
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translate(-50%,-50%);
      opacity: 0;
      transition: .25s 0s ease-in-out;

      transition:all 0.3s ease-in-out;
      transform:translateX(-50%);
    }
  
    a {
        font-size: 32px;
      margin-bottom: 1em;
      display: block;
      color: #000;
      text-decoration: none;
       font-weight:bold;
          transition:all 0.2s ease-in-out;
          text-shadow:1px 1px 2px rgba(0,0,0,.5);
}
  }
  